<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<title>Document</title>
</head>

<body> 
	<table>
		<thead>
			<tr>
				<th>Cedula</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Genero</th>
				<th>Borrar</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="persona:${personas}">
				<td th:text="${persona.cedula}"></td>
				<td th:text="${persona.nombre}"></td>
				<td th:text="${persona.apellido}"></td>
				<td th:text="${persona.genero}"></td>

				<td>
					<form th:action="@{/personas/borrar/{id}(id=${persona.id})}" th:object="${persona}"
						th:method="DELETE">
						<input type="submit" value="Borrar">
					</form>
				</td>
				<td>
					<form th:action="@{/personas/buscar/{id}(id=${persona.id})}" th:object="${persona}"
						th:method="GET">
						<input type="submit" value="Editar">
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>